<!-- Master HTML -->
<div layout-padding>

    <div layout-gt-sm="row" layout="column">
        <div flex>
            <entifix-select 
                value-model="vm.connectionComponent.entity.idUser" 
                show-editable-fields="false"
                query-details="vm.userQueryDetails" 
                component-construction="vm.userComponentConstruction" 
                component-binding-out="vm.outUserInstance"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-select>
        </div>
    </div>

    <div layout-gt-sm="row" layout="column">
        <div flex>
            <entifix-select 
                value-model="vm.connectionComponent.entity.idStore" 
                show-editable-fields="vm.connectionComponent.showEditableFields.get()"
                query-details="vm.storeQueryDetails" 
                component-construction="vm.storeComponentConstruction" 
                component-binding-out="vm.outStoreInstance"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-select>
        </div>
    </div>

    <div layout-gt-sm="row" layout="column">
        <div flex>
            <entifix-input
                value-model="vm.connectionComponent.entity.currencySymbol"
                show-editable-fields="vm.connectionComponent.showEditableFields.get()"
                component-construction="vm.currencySymbolComponentConstruction"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-input>
        </div>
        <br hide-gt-sm>
        <div flex>
            <entifix-input
                value-model="vm.connectionComponent.entity.total"
                show-editable-fields="vm.connectionComponent.showEditableFields.get()"
                component-construction="vm.totalComponentConstruction"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-input>
        </div>
    </div>


    <div layout-gt-sm="row" layout="column" ng-if="vm.showRating()">
        <br/>
        <h3>Registrar calificacion</h3>        
    </div>
    <div layout-gt-sm="row" layout="column" ng-if="vm.showRating()">
        <div flex></div>
        <div flex>
            <!-- <entifix-input
                value-model="vm.rating.score"
                show-editable-fields="vm.getEditableRating()"
                component-construction="vm.scoreComponentConstruction">
            </entifix-input> -->
            <h5>Puntuación de la compra</h5>
            <br/>
            <md-radio-group ng-model="vm.rating.score" layout="row">
                <md-radio-button value="1" class="md-primary">1</md-radio-button>
                <md-radio-button value="2">2</md-radio-button>
                <md-radio-button value="3">3</md-radio-button>
                <md-radio-button value="4">4</md-radio-button>
                <md-radio-button value="5">5</md-radio-button>  
            </md-radio-group>
        </div>
        <div flex></div>        
    </div>
    <div layout-gt-sm="row" layout="column" ng-if="vm.showRating()">
        <div flex>
            <entifix-input
                value-model="vm.rating.opinion"
                show-editable-fields="vm.getEditableRating()"
                component-construction="vm.opinionComponentConstruction">
            </entifix-input>
        </div>
    </div>
    <div layout-gt-sm="row" layout="column" ng-if="vm.showRating()">
        <md-button class="md-primary" ng-click="vm.saveRating()">
            <md-icon class="material-icons"></md-icon> Actualizar calificacion
        </md-button>        
    </div>


    

    <history></history>
</div>