<!-- Master HTML -->
<div layout-padding>
    <div layout-gt-sm="row" layout="column">
        <div flex>
            <entifix-input
                value-model="vm.connectionComponent.entity.name"
                show-editable-fields="vm.connectionComponent.showEditableFields.get()"
                component-construction="vm.nameComponentConstruction"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-input>
        </div>
        <br hide-gt-sm>
        <div flex>
            <entifix-input
                value-model="vm.connectionComponent.entity.idProject"
                show-editable-fields="vm.connectionComponent.showEditableFields.get()"
                component-construction="vm.projectComponentConstruction"
                evaluate-errors="vm.connectionComponent.evaluateErrors.get(name)">
            </entifix-input>
        </div>
    </div>
    <history></history>
</div>
